<footer class="text-lg-start">
  <div class="lindat-common2 lindat-common-footer">
    <footer data-version="3.5.0" data-build="67e455771cd6a00647a289a5d7b0c8a3380d3410">
      <div id="about-lindat">
        <h4>UIB/CLARINO</h4>
        <ul>
          <li><a href="/repository/static/about#mission-statement">Mission Statement</a></li>
          <li><a href="https://www.clarin.eu/">CLARIN Participation</a></li>
          <li><a href="https://www.dariah.eu/">DARIAH Participation</a></li>
          <br/>
          <li><a href="/repository/static/faq">FAQ</a></li>
          <li><a href="mailto:clarino@uib.no">Helpdesk</a></li>
          <br/>
          <li><a href="https://www.uib.no/en/about">Hosting Institution</a></li>
          <li><a href="https://ror.org/03zga2b32">Research Organization Registry</a></li>
        </ul>
      </div>
      <div id="about-partners">
        <h4>Consortium Partners</h4>
        <ul>
          <li>University of Bergen (UIB)
            <ul><a href="https://www.uib.no/en/lle">Department of Linguistic, Literary and Aesthetic Studies</a></ul>
            <ul><a href="https://www.uib.no/en/ub">University of Bergen Library</a></ul>
          </li>
          <li>University of Oslo (UIO)
            <ul><a href="https://www.hf.uio.no/iln/english/">Department of Linguistics and Scandinavian Studies</a></ul>
            <ul><a href="https://www.mn.uio.no/ifi/english/">Department of Informatics</a></ul></li>
          <li>Norwegian School of Economics (NHH)</li>
          <li>University of Tromsø (UiT)</li>
          <li>Norwegian University of Science and Technology (NTNU)</li>
          <li>The National Library of Norway (NB)</li>
        </ul>
      </div>
      <div id="about-website">
        <h4><a href="https://clarin.w.uib.no/">News</a></h4>
        <ul>
          <li><a href="/repository/static/about">About and Policies</a></li>
          <li><a href="/repository/static/terms-of-service">Terms of Service</a></li>
        </ul>
      </div>
      <div id="badges-a">
          <a class="lindat-clarinb-logo" title="Clarin B Center" href="http://hdl.handle.net/1839/00-DOCS.CLARIN.EU-116">
            <img src="/repository/assets/images/footer/b-centre.png" alt="B-center Approved" />
          </a>
          <a class="lindat-dsa-logo" href="https://amt.coretrustseal.org/certificates" title="CoreTrustSeal">
            <img src="/repository/assets/images/footer/core-trust-seal-mono.png" alt="Landing page for Core Trust seal certified repositories" style="width:110px;" />
          </a>
          <a class="lindat-clarinb-logo" title="Clarin K Center" href="https://hdl.handle.net/1839/00-DOCS.CLARIN.EU-114">
            <img style="filter:brightness(0.88)" src="/repository/assets/images/footer/k-centre.png" alt="K-center Approved" />
          </a>
         </div>
   <!--   <div id="badges-b">
        <a href="https://twitter.com/lindatclariahcz">Follow us on Twitter <img src="https://lindat.mff.cuni.cz/images/twitter-circular.svg" alt="Link to Profile" /></a>
        <a href="https://lindat.cz/user/login"><img src="https://lindat.mff.cuni.cz/sites/default/files/LINDAT-CLARIAH-cz-gray_0.svg" alt="Home Page" /></a>
      </div> -->
      <div id="ack-freepik">Icons ©  Smashicons and Freepik from flaticon.com licensed by <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a></div>
      <div id="ck-ufal">website © 2025 by <a href="https://ufal.mff.cuni.cz/">ÚFAL</a> with minor changes from <a href="https://www.uib.no/digitalutvikling">the Digital Development Section at the University of Bergen Library</a></div>
    </footer>
  </div>
</footer>
