<footer class="text-lg-start">
  <div class="lindat-common2 lindat-common-footer">
    <footer data-version="3.5.0" data-build="67e455771cd6a00647a289a5d7b0c8a3380d3410">
      <div id="about-lindat">
        <h4><a href="https://lindat.cz/sites/default/files/2021-01/lindat_clariah_flyer.pdf">LINDAT/CLARIAH-CZ</a></h4>
        <ul>
          <li><a href="https://lindat.cz/files/mission-en.pdf">Mission Statement</a></li>
          <li><a href="https://lindat.cz/ab">Advisory Board</a></li>
          <li><a href="https://lindat.cz/events">Events</a></li>
          <li><a href="https://www.clarin.eu/">CLARIN Participation</a></li>
          <li><a href="https://www.dariah.eu/">DARIAH Participation</a></li>
          <br/>
          <li><a href="https://lindat.cz/faq-repository">FAQ</a></li>
          <li><a href="mailto:lindat-help@ufal.mff.cuni.cz">Helpdesk</a></li>
          <li><a href="https://lindat.cz/user_feedback">User Feedback Form</a></li>
          <br/>
          <li><a href="https://ufal.mff.cuni.cz/grants/lindatclariah-cz/en">Hosting Institution</a></li>
          <li><a href="https://lindat.cz/acknowledgement">Acknowledge LINDAT/CLARIAH-CZ</a></li>
          <li><a href="https://ror.org/00dd4fz34">Research Organization Registry</a></li>
        </ul>
      </div>
      <div id="about-partners">
        <h4>Consortium Partners</h4>
        <ul class="unstyled">
          <li>University of Bergen (LLE and UB),coordinator</li>
          <li>University of Oslo (ILN and IFI)</li>
          <li>Norwegian School of Economics (NHH)</li>
          <li>University of Tromsø (UiT)</li>
          <li>Norwegian University of Science and Technology (NTNU)</li>
          <li>The National Library of Norway (NB)</li>
        </ul>
      </div>
      <div id="about-website">
        <h4><a href="https://lindat.cz/services">Services</a></h4>
        <ul>
          <li><a href="https://lindat.mff.cuni.cz/en/monitoring">Service Status</a></li>
          <li><a href="/repository/static/about">About and Policies</a></li>
          <li><a href="https://lindat.mff.cuni.cz/en/terms-of-use">Terms of Use</a></li>
        </ul>
      </div>
      <div id="badges-a">
          <a class="lindat-clarinb-logo" title="Clarin B Center" href="http://hdl.handle.net/1839/00-DOCS.CLARIN.EU-116">
            <img src="/repository/assets/images/footer/b-centre.png" alt="B-center Approved" />
          </a>
          <a class="lindat-dsa-logo" href="https://amt.coretrustseal.org/certificates" title="CoreTrustSeal">
            <img src="/repository/assets/images/footer/core-trust-seal-mono.png" alt="Landing page for Core Trust seal certified repositories" style="width:110px;" />
          </a>
          <a class="lindat-clarinb-logo" title="Clarin K Center" href="https://hdl.handle.net/1839/00-DOCS.CLARIN.EU-114">
            <img style="filter:brightness(0.88)" src="/repository/assets/images/footer/k-centre.png" alt="K-center Approved" />
          </a>
         </div>
      <div id="badges-b">
        <a href="https://twitter.com/lindatclariahcz">Follow us on Twitter <img src="https://lindat.mff.cuni.cz/images/twitter-circular.svg" alt="Link to Profile" /></a>
        <a href="https://lindat.cz/user/login"><img src="https://lindat.mff.cuni.cz/sites/default/files/LINDAT-CLARIAH-cz-gray_0.svg" alt="Home Page" /></a>
      </div>
      <div id="ack-msmt">
        THE LINDAT/CLARIAH-CZ PROJECT (LM2023062; formerly LM2010013, LM2015071, LM2018101) IS FULLY SUPPORTED BY THE MINISTRY OF EDUCATION, SPORTS AND YOUTH OF THE CZECH REPUBLIC UNDER THE&#160;PROGRAMME LM OF "LARGE INFRASTRUCTURES"
      </div>
      <div id="ack-freepik">Icons ©  Smashicons and Freepik from flaticon.com licensed by <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a></div>
      <div id="ack-ufal">website © 2025 by <a href="https://ufal.mff.cuni.cz/">ÚFAL</a></div>
    </footer>
  </div>
</footer>
