<div class="clarin-item-page-field justify-content-start" *ngIf="hasCcLicense$ | async">
  <div class="d-flex">
    <div><i class="fab fa-creative-commons fa-xs"></i></div>
    <div class="pl-1"><b>{{ 'item.page.cc-license' | translate }}</b></div>
  </div>
  <div>
    <div>
      <ng-container *ngIf="(ccLicenseUrl$ | async) as licenseUrl; else fallbackTemplate">
        <ng-container *ngIf="(ccLicenseName$ | async) as licenseName; else urlOnlyTemplate">
          <div class="cc-license-content">
            <div class="cc-license-row">
              <a [href]="licenseUrl" 
                 target="_blank" 
                 rel="noopener noreferrer" 
                 class="cc-license-link">
                <div class="cc-icons">
                  <ng-container [ngSwitch]="getLicenseType(licenseName)">
                    <ng-container *ngSwitchCase="'by'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-by"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'by-sa'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-by"></i>
                      <i class="fab fa-creative-commons-sa"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'by-nc'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-by"></i>
                      <i class="fab fa-creative-commons-nc"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'by-nc-sa'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-by"></i>
                      <i class="fab fa-creative-commons-nc"></i>
                      <i class="fab fa-creative-commons-sa"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'by-nd'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-by"></i>
                      <i class="fab fa-creative-commons-nd"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'by-nc-nd'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-by"></i>
                      <i class="fab fa-creative-commons-nc"></i>
                      <i class="fab fa-creative-commons-nd"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'cc0'">
                      <i class="fab fa-creative-commons"></i>
                      <i class="fab fa-creative-commons-zero"></i>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <i class="fab fa-creative-commons"></i>
                    </ng-container>
                  </ng-container>
                </div>
                <span class="cc-license-text">{{ licenseName }}</span>
              </a>
            </div>
          </div>
        </ng-container>
        <ng-template #urlOnlyTemplate>
          <div class="cc-license-content">
            <div class="cc-license-row">
              <a [href]="licenseUrl" 
                 target="_blank" 
                 rel="noopener noreferrer" 
                 class="cc-license-link">
                <i class="fab fa-creative-commons"></i>
                <span class="cc-license-text">Creative Commons License</span>
              </a>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #fallbackTemplate>
        <div class="cc-license-content">
          <div class="cc-license-row">
            <i class="fab fa-creative-commons"></i>
            <span class="cc-license-text">Creative Commons License</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
